:root {
    --page-font-family: Arial, Helvetica, sans-serif;
    --page-font-color: #7f676d
}

.nav-list {
    font-family: var(--page-font-family);
    color: var(--page-font-color);
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}


header {
    padding: 30px;
    color: var(--page-font-color);
    text-align: left;
    background-color: #F7D3DB;
    font-family: var(--page-font-family);
}

