:root {
    --page-font-family: Arial, Helvetica, sans-serif;
    --page-font-color: #7f676d
}

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

.header {
    padding: 30px;
    color: var(--page-font-color);
    background-color: #F7D3DB;
    font-family: var(--page-font-family);
    display: block;
}

.header h1 {
    display: inline-block;
    font-size: 35px;
}

.header div ul {
    float: inline-end;
    font-family: var(--page-font-family);
    color: var(--page-font-color);
    font-size: 30px;
    display: flex;
    text-align: right;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

body {
    background-color: #F9F2F4;
}

header h2 {
    float: left;
}

.main {
    font-family: var(--page-font-family);
    color: var(--page-font-color);
}

.main div p {
    display: block    
}

.float-left {
    width: 200px;
}

.project-1 {
    width: 200px;
    height: 100px;
}